<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pic3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pic3"
        android:supportsRtl="true"
        android:theme="@style/Theme.OBE_MNGT_SYS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ACTIVITIES.lasttask"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.ClickONCourseCLOBASEDRESULT"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.CLOBASEDALLPLOS"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.PLOBASEDRESULT_OVERALL"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.Examples"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ACTIVITIES.CLO_BASED_RESULT"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.SectionStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.Advisor_section"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.ViewGrades"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.TASK_QUESTIONS"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.CourseSuggestionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_teacher_suggestionsctivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.View_Maping_HOD"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".View_Mapping_HOD"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.MAPPING_FOR_APPROVALS_SCREEN"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.notifications"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.CommonFragment"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.Course_Allocation"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.Mapping_Plos_Courses"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.Program_Plos"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.Program_courses"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.STUDENT_DASHBOARD"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.TEACHER_DASHBOARD"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.HOD_DASHBOARD"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.Login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ACTIVITIES.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ACTIVITIES.MainActivity"
            android:exported="true" />
    </application>

</manifest>